/* COLORS */


/* ~ blue types ~ */

$darkBlue: #0c9db9;
$lightDarkBlue: #2eb6cb;
$blue: #50cedc;
$lightBlue: #72e7ee;
$ultraLightBlue: #72e7ee;


/* ~ green types ~ */

$darkGreen: #007a00;
$lightDarkGreen: #128d02;
$green: #249f04;
$lightGreen: #36b205;
$ultraLightGreen: #48c407;


/* ~ grey types ~ */

$darkGrey: #9ea09c;
$LighDarkgrey: #b6b8b5;
$grey: #cfd0ce;
$lightGrey: #e7e7e6;


/* ~ red types ~ */

$darkRed: #92000a;
$lightDarkRed: #a80a19;
$red: #bd1427;
$lightRed: #d31e36;
$ultraLightRed: #e82844;


/* ~ text and background colors ~ */

$fullWhite: #fff;
$text: #353535;
$background: #f4f4f4;